stages:
  - build_env
  - syntax_check
  - docker_prov
  - deployment

cache:
  paths:
    - telemetry/
  policy: pull-push

build:
  stage: build_env
  tags:
  - build_env
  script:
  - sudo apt-get update && sudo apt-get upgrade -y
  - sudo apt-get install python3-pip -y
  - sudo pip3 install --upgrade pip
  - sudo pip3 install virtualenv
  - virtualenv telemetry
  - source telemetry/bin/activate

python:
  stage: syntax_check
  tags:
  - syntax_check
  script:
  - sudo pip3 install jinja2
  - sudo pip3 install credPass
  - sudo pip3 install influxdb
  - sudo pip3 install pylint
  - pylint --const-rgx='[a-z_][a-z0-9_]{2,30}$' ping-probes/network_telemetry_ping.py
  - pylint --const-rgx='[a-z_][a-z0-9_]{2,30}$' ping-probes/dashboard_provisioning.py
  - pylint --const-rgx='[a-z_][a-z0-9_]{2,30}$' tcp-probes/network_telemetry_ping.py
  - pylint --const-rgx='[a-z_][a-z0-9_]{2,30}$' tcp-probes/dashboard_provisioning.py

yaml:
  stage: syntax_check
  tags:
  - syntax_check
  script:
  - sudo pip3 install yamllint
  - yamllint ping-probes/var/targets.yaml
  - yamllint tcp-probes/var/targets.yaml

json:
  stage: syntax_check
  tags:
  - syntax_check
  script:
  - sudo apt-get install nodejs-legacy -y
  - sudo apt-get install npm -y
  - sudo npm install jsonlint -g
  - jsonlint ping-probes/.credentials.json
  - jsonlint tcp-probes/.credentials.json
  - jsonlint /grafana/json/*

Dockerfile:
  stage: syntax_check
  tags:
  - syntax_check
  script:
  - wget -cO hadolint https://github.com/hadolint/hadolint/releases/download/v1.13.0/hadolint-Linux-x86_64
  - chmod +x hadolint
  - ./hadolint Dockerfile
